body {
    background-color: darkslateblue;
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
    color: floralwhite;
  }
  
  img {
    border-radius: 25px;
  }
  
  audio {
    padding-bottom: 30px;
  }